acme==4.0.0
beautifulsoup4==4.13.3
certbot==4.0.0
certbot-dns-ovh==4.0.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
ConfigArgParse==1.7
configobj==5.0.9
cryptography==44.0.2
distro==1.9.0
dns-lexicon==3.21.0
dnspython==2.7.0
filelock==3.18.0
idna==3.10
josepy==2.0.0
parsedatetime==2.6
pycparser==2.22
pyOpenSSL==25.0.0
pyotp==2.9.0
pyRFC3339==2.0.1
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
requests-file==2.1.0
soupsieve==2.6
tldextract==5.2.0
typing_extensions==4.13.2
urllib3==2.4.0
