[default]
volume=20
reset-on-next-file=volume
image-display-duration=7
geometry=50%x50%+50%+50%
border=no

input-conf="~/etc/scripts-and-configs/helpers/mpv-saver/input.conf"
script="~/etc/scripts-and-configs/helpers/mpv-saver/main.js"

[reset-volume]
reset-on-next-file=volume

# # a profile that can be enabled with --profile=big-cache
# [big-cache]
# cache=yes
# demuxer-max-bytes=123400KiB
# demuxer-readahead-secs=20
#
# [slow]
# profile-desc="some profile name"
# # reference a builtin profile
# profile=high-quality
#
# [fast]
# vo=vdpau
